
body {
    padding-top: 10px;
    background-color: #D6EAF8;
    margin: 5px;
}

#logo_grandpy img
{
    width:184px;
    height:154px;
}

#logo_grandpy
{
    text-align: center;
    padding-bottom: 10px;
}

#logo_github img
{
    width:40px;
    height:40px;
}

#myself
{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#logo_github
{
    text-align: center;
}

#dialog_box
{
    padding-bottom: 10px;
    height: 400px;
    background-color: whitesmoke;
    text-align: justify;
    overflow: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

#map
{
    padding-bottom: 10px;
    height: 400px;
    background-color: whitesmoke;
    text-align: justify;
    overflow: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: none;

}

#central_zone
{
    padding-bottom: 10px;
}

.msg {
    padding: 3px;
    margin: 4px 0;
    border-radius: 5px;
}

/* 
Loader shamefully taken here :;
https://www.w3schools.com/howto/howto_css_loader.asp 
*/
.loader {
    border: 10px solid #f1f1f1; 
    border-top: 10px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none;
    margin:10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.test {
    display: block;
}